dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

.normal {
    color: green;
}

.exceeded {
    color: red;
}

header, footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 6px 0;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top48 { margin-top:48px; }
